.windows-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar-container {
  height: 100%;
  width: 20vw;
  padding: 0px;

  @media (max-width: 767px) {
    display: none;
  }
}

.not-found-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    width: 100vw;
  }
}

.not-found-image {
  width: 30%;
}
