.navbar-container {
  height: 100%;
  width: 20vw;
  padding: 0px;

  @media (max-width: 767px) {
    display: none;
  }
}

.saved-videos-content {
  overflow: auto;
  width: 80vw;

  @media (max-width: 767px) {
    width: 100vw;
  }
}

.saved-videos-fire-icon-container {
  background-color: #e2e8f0;
  height: 55px;
  width: 55px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saved-videos-fire-icon {
  color: #ff0b37;
  font-size: 30px;
}

.saved-videos-list {
  padding-left: 30px;

  @media (max-width: 767px) {
    padding-left: 15px;
  }
}

.no-videos-img {
  width: 30%;
}
